header {
    position: relative;
    background-color: purple;

}

body {
margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #8594e4;
}

.container{
    margin: 0 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
   background-image: url('pexels-miguel-á-padriñán-255379.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #8594e4;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #d5def5;
    width: 80%;
    align-items: center;
    box-sizing: border-box;

}

h1 {
    flex-grow: 6;
    padding-left: 1rem;
    margin: 0;
    color: #d5def5;

}

.logo {
    background-color: #6643b5;
    height: 100%;
    display: flex;
    padding: 1rem 2rem;
}

ul {
    display: flex;
    list-style: none;
    align-content: center;
    text-align: center;
    margin: 0;
}

li a {
    display: block;
    margin: 0;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 0.5s;
    box-sizing: border-box;
    color: #430f58;
}

a:hover {
    background-color: #8594e4;
}


section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8rem 2rem;
    border: 1rem;
    text-align: center;
}

h2, h3 {
    color: #430f58;
}

p {
    color:#430f58;
}


article{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    border: 1rem;
}


#product-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.product1, .product2, .product3{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-contact{
    flex-direction: column;
    align-items: flex-start;

}
h4 {
    display: flex;
    align-self: flex-start;
    margin:0;
    color:#430f58;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    text-align: left;
}

#last-image {
    padding: 1rem;
}

image{
    width: 100%;
    height: auto;
}