header {
    position: relative;
    background-color: purple;

}

.container{
    border: 10rem;
    margin: 0 12rem;
}


nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: purple;
    width: 80%;
    align-items: center;

}

h1 {
    flex-grow: 6;
    padding-left: 1rem;
}

ul {
    display: flex;
    list-style: none;
    align-content: center;
    text-align: center;
}

li a {
    display: block;
    margin: auto;
    padding: 1rem 2rem;
    text-decoration: none;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}


#product-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.product1, .product2, .product3{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.left-contact{
    flex-direction: column;
    align-items: flex-start;

}
h4 {
    display: flex;
    align-self: flex-start;
}

#contact {
    display: flex;
    flex-direction: row;
    background: greenyellow;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
}